.logo {
  width: 4rem;
}

.icon-Adress {
  width: 1rem;
}


#bio {
  display: flex;
}

.bio-intern{
  flex-direction: column;
  margin-left: 20px;
}

.profil-picture {
  width: 7rem;
}

#bio p {
  margin-left: 20px;
}
